

.home-component {
  margin: -90px;
  margin-bottom: 20px;
}
.products-header{
  font-size:30px;
  font-family: fantasy;
   margin-top: 200px;
}
.home-content{
  margin:45px
}

.working-hours {
  position: absolute;
  top: 66%;
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px black;
  left: 75%;
  color: white;
}

@media (max-width: 959px) {
  img {
    max-height: 500px;
  }
}
