<div *ngIf="this.show" class="tool-tip">
  <div
    (mouseenter)="onMouseEntered()"
    (mouseleave)="onMouseLeave()"
    class="row"
  >
    <h2 *ngFor="let subCategory of subCategories" class="col-6 mt-2">
      <span class="subCategory-name">
        {{ subCategory.name }}
      </span>

      <span
        style="display: block"
        *ngFor="let subSubCategory of subCategory.subCategories"
      >
        {{ subSubCategory.name }}
      </span>
    </h2>

    <H2 class="col-6 mt">
      <span class="subCategory-name">Accesorii</span>


        <span style="display: block">
           Cravate
        </span>
        <span style="display: block">
          Cravate
       </span>
       <span style="display: block">
        Cravate
     </span>

    </H2>
    <H2 class="col-6 mt">
      <span class="subCategory-name">Accesorii</span>


        <span style="display: block">
           Cravate
        </span>
        <span style="display: block">
          Cravate
       </span>
       <span style="display: block">
        Cravate
     </span>

    </H2>
  </div>

  <!-- <div class="row">
    <h2 class="col-6 mt-2">
      <span>fdfsd</span>

    </h2>
    <h2 class="col-6 mt-2">
      <span>fdfsd</span>

    </h2>

    <h2 class="col-6 mt-2">
      <span>fdfsd</span>

    </h2>


  </div> -->
</div>
