
.card-shadow{
  box-shadow: 7px 7px 7px #888888;
  cursor: pointer;

  transition: transform .4s;
  transform: scale(1.06);
}
.card-shadow-revert{
  transition: transform .4s;
  transform: scale(1);
}





.card{

  width: 250px;
  margin:auto;
}

mat-card img{
  max-width: 282px;
  max-height: 282px;
}


mat-card-content span.product-name{
  text-align: center;
  font-weight: bold;
  color:red;
  display: block;
}

mat-card-content span.product-price{
  text-align: center;
  font-weight: bolder;
  color:#6c757d ;
  display:block

}
