<form class="example-form">
    <mat-form-field  appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput #categoryName placeholder="Articole femei">
    </mat-form-field>

    <mat-form-field  appearance="fill">
      <mat-label>Price</mat-label>
      <input type="number" matInput #price placeholder="100 RON">
    </mat-form-field>

    <mat-form-field  appearance="fill">
      <mat-label>Quantity</mat-label>
      <input type="number" matInput #quantity>
    </mat-form-field>

      <input type="file" #file >
  </form>

  <div mat-dialog-actions>
    <button mat-button (click)="onExitClick()">Close</button>
    <button mat-button (click)="onSaveClick()">Save</button>
  </div>
