<mat-toolbar class="navbar-color">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="home" class="store-name"> <EM>{{onlineStoreName}}</EM></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
            <div class="input-group rounded">
              <input type="search" class="form-control rounded" placeholder="Cauta produs..." aria-label="Search"
              aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <fa-icon [icon]="faSearch"></fa-icon>
              </span>
            </div>
          </li>
            <li>
                <a routerLink="/catalog" class="nav-item">Toate produsele</a>
            </li>
            <li>
                <a routerLink="/account" class="nav-item">Contact</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>
